* {
	-webkit-box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	overflow-y: auto;
}
.page.iphone {
	height: 100%;
}

.page.iphone .iphone-vertical {
	height: 100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.page.iphone .footer {
	/*height: 50px;*/
	margin: 0;
}

.page.phone .iphone-vertical .top {
	width: 250px;
	overflow-y: auto;
	overflow-x: hidden;
}
.page.iphone .iphone-vertical .middle {
	-webkit-box-flex: 1;
}
.page.iphone .iphone-vertical .middle .inner {
	overflow-y: hidden;
	overflow-x: hidden;
}
.page.iphone .iphone-vertical .middle .inner .wrapper {
	padding-top: 45px;
}
.page.iphone .wrapper {
	width: auto;
}
.page.iphone .block {
	margin: 0 5px 20px 5px;
}
.page.iphone .block .top {
	position: absolute;
	left: 0;
	top: 0;

	-webkit-border-radius: 5px 5px 0 0;
}
.page.iphone .block.small .top {
	position: static;
}
.page.iphone .block .top .sr,
.page.iphone .block .top .sl {
	display: none;
}
.page.iphone .block .content {
	margin-top: 65px;
}
.page.iphone .block.no-top .content {
	margin-top: 10px;
}

.page.iphone .block .content .visualize{
	left: 10px;
}

.page.iphone .block.small .content {
	margin: 0;
}
.page.iphone .block .top h2,
.page.iphone .block .top h1 {
	font-size: 24px;
}

.page .block .top h2, .page .block .top h1 {
	padding: 0;
}

.page.iphone .block .top ul {
	top: 18px;
}
.page.iphone .block.small .top h2,
.page.iphone .block.small .top h1 {
	font-size: 15px;
}
.page.iphone .block ul.shortcuts li {
	float: none;
	margin: 0 0 10px 0px;
}
.page.iphone .block ul.shortcuts li a {
	display: block;
	width: auto;
}
.page.iphone .top-side {
	background: none;
	position: relative;
	/*overflow:hidden;*/
	z-index: 100;
}

.page.iphone .grid .column {
	float: none;
	margin: 0;
}
.page.iphone .grid .grid-1,
.page.iphone .grid .grid-2,
.page.iphone .grid .grid-3,
.page.iphone .grid .grid-4,
.page.iphone .grid .grid-5,
.page.iphone .grid .grid-6,
.page.iphone .grid .grid-7,
.page.iphone .grid .grid-8,
.page.iphone .grid .grid-9,
.page.iphone .grid .grid-10,
.page.iphone .grid .grid-11,
.page.iphone .grid .grid-12,
.page.iphone .grid .grid-13,
.page.iphone .grid .grid-14,
.page.iphone .grid .grid-15,
.page.iphone .grid .grid-16 {
	width: 100%;
}


.page.iphone .top-side h2 {
	margin: 0 0 20px 0;
	padding: 0;

	position: relative;
	height: 50px;

	background-color: #7AA935;
	background: -moz-linear-gradient(top, #7AA935, #648E25);
	background: -o-linear-gradient(top, #7AA935, #648E25);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#7AA935), color-stop(1,#648E25));

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7AA935', endColorstr='#648E25');
}
.page.iphone .top-side h2 a {
	background: url('../img/header-logo-container.png');
	width: 102px;
	height: 89px;
	text-align: center;

	display: inline-block;

	position: absolute;
	top: 0;
	left: 5px;

	margin: 0;
	padding: 0;
	z-index:50;
}
.page.iphone .top-side h2 a img {
	margin-top: 20px;
}
.page.iphone .top-side ul.secondary-menu {
	position: absolute;
	right: 5px;
	top: 0;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	border-right: 1px solid rgba(255, 255, 255, 0.1);


	list-style: none;
	margin: 0;
	padding: 0;
}
.page.iphone .top-side ul.secondary-menu li {
	position: relative;
	float: right;

	margin: 0;
	padding: 0;

	display: inline-block;
	line-height: top;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.page.iphone .top-side ul.secondary-menu li a {
	width: 50px;
	height: 50px;
	display: inline-block;
	line-height: top;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	position: relative;
	text-decoration: none;

	text-align: center;
}
.page.iphone .top-side ul.secondary-menu li a img {
	position: relative;
	top: 17px;
}
.page.iphone .top-side ul.secondary-menu li a span.number {
	position: absolute;
	right: 8px;
	top: 10px;

	line-height: 10px;
	padding: 2px;
	color: #643D06;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	font-family: arial;

	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;

	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.5);

	background: -moz-linear-gradient(top, #FFB653, #EE931A);
	background: -o-linear-gradient(top, #FFB653, #EE931A);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#FFB653), color-stop(1,#EE931A));

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFB653', endColorstr='#EE931A');
}
.page.iphone .top-side ul.secondary-menu li .user-menu {
	position: absolute;
	top: 55px;
	right: 0;
	z-index:60;
}
.page.iphone .top-side ul.secondary-menu li .search-menu {
	position: absolute;
	top: 55px;
	right: -50px;
	z-index:60;
}
.page.iphone .top-side ul.secondary-menu li .search-menu .details input {
	width: 210px;
}
.page.iphone .top-side ul.secondary-menu li .search-menu .details label {
	width: 50px;
}
.page.iphone .top-side ul.secondary-menu li .search-menu .pointer {
	right: 70px;
}
/*
.page.iphone .footer {
	height: 80px;
	margin: 0;
}*/

.page.iphone .iphone-vertical .middle .inner .footer .wrapper {
	position: static;
	padding-top: 0;
}
.page.iphone .footer .wrapper .inner {
	padding-top: 20px;
}
.page.iphone .top-side ul.secondary-menu li .search-menu ul.ui-autocomplete li a {
	padding: 8px;
}
.page.iphone .top-side ul.secondary-menu li .search-menu ul.ui-autocomplete li a span.category {
	width: 65px;
}
.page.iphone .top-side ul.secondary-menu li .search-menu ul.ui-autocomplete li a span.label {
	width: 135px;
}
.page.iphone .top-side ul.secondary-menu li .search-menu ul.ui-autocomplete {
	background-position: -35px 0;
}

/* menu */

.page.iphone .top-side #iPhoneMenu {
	background: #E3E3E3;
	margin-top:-370px;
}

.page.iphone .top-side ul.main-menu {
	/*margin: 70px 0 0 0;
	padding: 0;*/

	margin: 0px 0 0 0;
	padding:70px 0 0 0;
	background: #E3E3E3;
	display:block;
	list-style: none;

	border-bottom: 1px solid rgba(0,0,0,0.1);

	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
.page.iphone .top-side ul.main-menu li {
	margin: 0;
	padding: 0;
}
.page.iphone .top-side ul.main-menu li a {
	display: block;
	font-size: 14px;
	line-height: 15px;
	padding: 15px;
	text-decoration: none;

	border-top: 1px solid rgba(0,0,0,0.1);

	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;

	color: #333333;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);

	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
}
.page.iphone .top-side ul.main-menu li a.touched {
	background-color: #7AA935;
	background: -moz-linear-gradient(top, #648E25, #7AA935);
	background: -o-linear-gradient(top, #648E25, #7AA935);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#648E25), color-stop(1,#7AA935));

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#648E25', endColorstr='#7AA935');

	line-height:16px;

	color: white;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);

	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}

.page.iphone .top-side ul.main-menu li ul {
	display: none;
	margin: 0;
	padding: 10px 0 10px 10px;
	background-color: #333;
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0,#000), color-stop(1,#333));
	list-style: none;
}

.page.iphone .top-side ul.main-menu li ul li a.first {
	border-radius: 5px 0 0 0;
	box-shadow: none;
}
.page.iphone .top-side ul.main-menu li ul li a.last {
	border-radius: 0 0 0 5px;
}
.page.iphone .top-side ul.main-menu li ul li ul {
	background: none;
	padding: 10px 0 0 10px;
}

.page.iphone .top-side ul.main-menu li ul li a {
	background-color: #d9d9d9;
}
.page.iphone .top-side ul.main-menu li ul li ul li a {
	background-color: #CFCFCF;
}
.page.iphone .top-side ul.main-menu li ul li ul li ul li a {
	background-color: #c9c9c9;
}
.page.iphone .top-side ul.main-menu li ul li ul li ul li a {
	background-color: #bfbfbf;
}

.page.iphone .block .content .button {
	height: 38px
}

.page.iphone .block .content .button span {
	height: 36px;
}

.page.iphone .block .content .button.green span,
.page.iphone .block .content .button.yellow span,
.page.iphone .block .content .button.red span {
	height: 34px;
}

.page.iphone .block .content .progress-bar {
	height:34px;
}


.page.iphone .block .content ul.tab-header li a span.c {
	height: 40px;
}

.page.iphone .block .content table.listing {
	overflow: hidden;
	width:100%;
	position: relative;
}

.page.iphone .block .content table.listing tr td a.edit {
	height: 22px;
}

.page.iphone .block .content table.listing tr td a.delete {
	height:22px;
}
.page.iphone .block .top input.search {
	height:27px;
}

.page.iphone .block .content .dataTables_wrapper .table-top .dataTables_length {
	float: none;
	width: auto;
	text-align: center;
}

.page.iphone .block .content .dataTables_wrapper .table-top .dataTables_filter {
	float:none;
	margin-top: 10px;
	text-align: center;
	width:auto;
}


.page.iphone .block .content .dataTables_wrapper .table-top .dataTables_length .selector {
	width: 70px;
}
.page.iphone .block .content .dataTables_wrapper .table-top .dataTables_length .selector {
	width: 70px;
}
.page.iphone .block .content .dataTables_wrapper .table-bottom .paging_full_numbers span.paginate_button,
.page.iphone .block .content .dataTables_wrapper .table-bottom .paging_full_numbers span.paginate_active {
	padding: 10px 15px;
}


.page.iphone .block .content .dataTables_wrapper .table-bottom .dataTables_paginate .first,
.page.iphone .block .content .dataTables_wrapper .table-bottom .dataTables_paginate .previous,
.page.iphone .block .content .dataTables_wrapper .table-bottom .dataTables_paginate .next,
.page.iphone .block .content .dataTables_wrapper .table-bottom .dataTables_paginate .last {
	display:none;
}

.page.iphone .block .content .dataTables_wrapper .table-bottom .paging_full_numbers {
	/*width: 500px;*/
	width: 100%;
	margin-top: 10px;
	text-align: center;
}
.page.iphone .block .content .dataTables_wrapper .table-bottom .dataTables_info {
	/*width: 100px;*/

	width: 100%;
	float: left;
	text-align: center;
}

.page.iphone .block .content .filters .low .filter {
	border-bottom: solid 1px #999;
	border-right:none;
	width: 100%;
	float: left;
	padding: 20px 0 0 10px;
}

.page.iphone .block .content .filters .low .filter p {
	padding: 0;
}
.page.iphone .block .content .filters .low .filter:last-child {
	border-bottom: none;
}
.page.iphone .block .content table.listing tr td a.delete {
	margin-left: 20px;
}

.page.iphone .block .content table.listing tr td a.edit {
	margin-left: 0px;
}

.page.iphone .block .content table.listing tr td {
	padding: 10px;
	white-space: nowrap;
}

.page.iphone .block .content .selector {
	width:70%;
}

.page.iphone .block .content .actions .pager {
	text-align: center;
	margin-top: 10px;
	width:100%;
	float:none;
}

.page.iphone .block .content fieldset {
	padding:20px 5px;
}

.page.iphone .block .content .vertical-tabs .tab-list {
	width:100px;
}

.page.iphone .block .content .vertical-tabs .right-tab {
	padding:0 0 10px 125px;
}

.page.iphone .block .content ul.tab-header {
	overflow: hidden;
	position: relative;
}
.page.iphone .block .content .uploader input,
.page.iphone .block .content .uploader .filename {
	width: 110px;
}


.page.iphone .block .content .uploader {
	white-space: nowrap;
}


.page.iphone .block .content input.password,
.page.iphone .block .content input.password.small,
.page.iphone .block .content input.text.small,
.page.iphone .block .content input.date {
	width: 50%;
}